# Python
__pycache__/
*.pyc
.venv/
venv/

# Variables de entorno
.env.local

# SQLite local
database.db
*.db

# Frontend
frontend/node_modules/
frontend/build/

# Node (si se ejecuta npm por error en la raiz)
node_modules/

# OS
.DS_Store
Thumbs.db

claude.md